*.o
*.gch
*.dll
*.exe
*.bat
*.zip
*.txt
*.pdf
*.doc
*.docx
*.jpg
*.jpeg
*.xcodeproj/

Build/
DerivedData/
bin/
obj/
ruc-compiler

!RuC/
!keywords.txt
!CMakeLists.txt

.DS_Store
build
*.sublime-workspace

