notifications:
  email: false

git:
  depth: 1

language: c

matrix:
  include:
    - name: "Windows 1809"
      os: windows
    - name: "macOS 10.15.5"
      os: osx
      osx_image: xcode12
    - name: "Ubuntu 20.04"
      os: linux
      dist: focal

script:
  - ./scripts/test.sh -v v1.1 -w 5.1
